html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet",type="text/css",href="/css/joy.css")
        script(src="/js/roslib.min.js")
        script(src="/js/angular.min.js")
        script(src="/js/jquery.min.js")
        script(src="/js/joy.js")
    body(ng-app="Joy")
        #box.box(ng-controller="JoyCtrl")