
<launch>
    <arg name="svo_file"             default="" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
    <arg name="stream"               default="" /> <!-- <arg name="stream" default="<ip_address>:<port>"> -->

    <arg name="camera_model"         default="zed2" />
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_joint" args="0 0 0 0 0 0 1 map base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_joint" args="0 0 0 0 0 0 1 base_link odom" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="gimbal_joint" args="0 0.0 0 0 0 0 1 base_link gimbal_body" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="gimbal_neck_joint" args="0 0.0 0.12 0 0 0 1 gimbal_body gimbal_neck" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="head_imu_joint" args="0.0 0.0 0.0 0 0 0 1 gimbal_camera_mount camera_mount_imu" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="zed_joint" args="0.0 0.05 -0.02 0 0 0 1 gimbal_camera_mount zed_base_link" />

    <!-- Launch ZED camera wrapper -->
    <include file="$(find zed_wrapper)/launch/$(arg camera_model).launch">
        <arg name="camera_model"        value="$(arg camera_model)" />
        <arg name="svo_file"            value="$(arg svo_file)" />
        <arg name="stream"              value="$(arg stream)" />
    </include>
	<include file="$(find head_motion)/launch/head_motion_node.launch" />
    <node name="basecam" pkg="basecam" type="basecam_node.py" output="screen" />
	
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rc_bringup)/rviz/$(arg camera_model).rviz" output="screen" /> -->

</launch>