<launch>
	<node pkg="tf2_ros" type="static_transform_publisher" name="map_joint" args="0 0 0 0 0 0 1 map base_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="odom_joint" args="0 0 0 0 0 0 1 base_link odom" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="gimbal_joint" args="0.17 0.0 0.62 0 0 0 1 base_link gimbal_head" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="mobile_imu_joint" args="0.26 -0.06 0.20 0 0 0 1 base_link mobile_imu_base" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="camera_joint" args="0.04 0.03 0.01 0 0 0 1 gimbal_camera_mount camera_base" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="head_imu_joint" args="0.0 0.0 0.0 0 0 0 1 gimbal_camera_mount camera_mount_imu" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="zed_joint" args="0.0 33.0 29.0 0 0 0 1 base_link zed_base_link" />

	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="vo_joint" args="0.0 0.0 0.0 0 0 0 1 base_link vo" /> -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="odom_combined_joint" args="0.0 0.0 0.0 0 0 0 1 base_link odom_combined" /> -->
</launch>
